<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover">
<title>Levart Messenger</title>
<link rel="stylesheet" href="/static/style.css?v=20260223t">
</head>

<body class="center">
<div id="toast-container"></div>
<div class="card">

<h1>LEVART</h1>

<p class="subtitle">
Безопасный зашифрованный мессенджер
</p>

<button onclick="location.href='/login'">Войти</button>
<button class="secondary" onclick="location.href='/register'">Регистрация</button>

</div>
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script type="module" src="/static/script.js?v=20260223t"></script>
</body>
</html>
